.popup__input {
    border: none;
    margin: 54px 36px 30px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}

.popup__input:last-of-type {
    margin: 0 36px 48px;
}

@media screen and (max-width: 1279px) {
    .popup__input {
        margin: 75px 22px 30px;
        width: 238px;
    }

    .popup__input:last-of-type {
        margin: 0 22px 45px;
    }
}