.element__like-button {
    background-image: url(../../../images/Like\ Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.element__like-button:hover {
    opacity: .5;
    transition: opacity 1s ease-in-out;
}

.element__like-button:active {
    background-image: url(../../../images/Like\ Button\ Active.svg);
}