.profile__description {
    color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 336px;
}

@media screen and (max-width: 1279px) {
    .profile__description {
        max-width: 282px;
        font-size: 14px;
    }
}